.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #D6D8DE;
  width: 100%;
  box-sizing: border-box; 
}

.botoes{
  display: flex;
  gap: 20px;
}

.form {
  margin: 0px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid rgba(0, 122, 255, 0.49);
  border-radius: 8px;
  max-width: 400px;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.intro h1,p{
  text-align: start;
  margin: 0px;
}
.intro h1{
  color: #007AFF;
}
.intro p{
  color: #6B7280;;
}
.inputcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #D6D8DE;
  border-radius: 8px;
  padding: 10px;
  background: white;
  width: 300px;
}

.inputcontainer input {
  border: none;
  outline: none;
  font-size: 16px;
}

#btnsubmit{
  display: block;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.5em 2em;
  color: white;
  background-color: #007AFF;
  border-radius: 0.2em;
  box-shadow: none;
  border-style: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#btnsubmit:hover {
  background-color: #005BB5;
  transform: scale(1.05);
}

label {
  border: 1px solid rgba(0, 122, 255, 0.49);
  border-radius: 8px;
}