.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #d6d8de;
  width: 100%;
  box-sizing: border-box;
}
.botoes {
  display: flex;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
  height: 91.5vh;
  width: 100%;
}

.loginComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 45px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-left: 1px solid #d6d8de;
}

.imagem {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.imagemLogin {
  justify-self: center;
  border-radius: 10px;
  object-fit: cover;
}

label {
  border: 1px solid rgba(0, 122, 255, 0.49);
  border-radius: 8px;
}

.inputcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
}

.inputcontainer input {
  border: none;
  outline: none;
  font-size: 16px;
}